* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  width: 100vw;
}

header {
  width: 20%;
  height: max-content;
  background-color: #212227;
  padding: 15px;
  text-align: center;
  color: white;
  margin: 10px auto;
  border-radius: 5px 20px 5px 20px;
  box-shadow: 5px 5px 3px hsla(230, 8%, 14%, 0.6);
}

header h1 {
  font-size: 4em;
  font-family: Pristina;
}

main {
  background-color: #212227;
  width: 40%;
  min-width: fit-content;
  padding: 20px;
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  border-radius: 30px 10px 30px 10px;
  box-shadow: 10px 10px 3px hsla(230, 8%, 14%, 0.6);
}

.intro p {
  margin: 10px 0;
  font-size: 2em;
  text-align: center;
}

.date-div p {
  font-size: 1.5em;
}

.add-btn {
  margin-top: 5px;
  background-color: #FFE8D1;
  width: max-content;
  padding: 4px;
  border: 1px solid #212227;
  border-radius: 4px;
}

.add-btn:hover {
  background-color: #e2b689;
  border: 1px solid hsl(240, 8%, 10%);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
}

.habits-table {
  color: black;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #FFE8D1;
  width: 100%;
  border: 1px solid #212227;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

th {
  width: 40%;
  padding: 2px;
}

th:last-of-type {
  width: 10%;
}

th,
td {
  padding: 4px;
  text-align: left;
}

td,
th {
  border-bottom: 1px solid #212227;
}

.checkbox {
  text-align: center;
}

table img {
  width: 20px;
  height: 20px;
}

.habits-table th:nth-child(n+3):nth-child(-n+5),  .habits-table td:nth-child(n+3):nth-child(-n+5){
  text-align: center;
  width: 20px;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0;
}

.z-50 {
  z-index: 50;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-4 {
  margin-bottom: 16px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.w-96 {
  width: 450px;
}

.w-full {
  width: 95%;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 16px;
}

.rounded-lg {
  border-radius: 24px;
}

.rounded-md {
  border-radius: 18px;
}

.border {
  border-width: 1px;
}

.border-neutral-300 {
  --tw-border-opacity: 1;
  border-color: rgb(202 202 202 / var(--tw-border-opacity));
}

.bg-black {
  --tw-bg-opacity: 0.2;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-neutral-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(224 224 224 / var(--tw-bg-opacity));
}

.bg-primary-500 {
  --tw-bg-opacity: 1;
  background-color: #212227;
}

.bg-white {
  color: #212227;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-6 {
  padding: 24px;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-2 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.font-title {
  font-family:
    Lato,
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

.text-xl {
  font-size: 20px;
  line-height: 28px;
}

:is(.bg-neutral-200) {
  color: rgba(0, 0, 0, 0.9) !important;
}

:is(.bg-primary-500) {
  color: white !important;
}